/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */

/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}

/* *************BOX CONTAINER**************** */
.container {
  display: flexbox;
  flex-direction: column;
  margin: 27% 6%;
  border-radius: 8px;
}

/* **********EACH CARD IN CONTAINER*********** */
.container .card {
  padding: 14% 15%;
}

/* ***************IAMGES IN EACH CARD************88 */
.container .card img {
  margin: 0px 0px 30px 0px;
}

/* ***************TITILE IN CARD************ */
.container .card h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  text-align: left;
  font-size: 43px;
  margin: 0px 0px 30px 0px;
}

/* ********PARAGRAPH IN THE CARD************** */
.container .card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
}

/* *************"LEARN MORE" BUTTON***************  */
.container .card button {
  background-color: hsl(0, 0%, 95%);
  border: 0;
  margin: 27px 2px 2px 0px;
  padding: 16px 35px;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 82px;
  font-size: 15px;
}

#button1 {
  color: hsl(31, 77%, 52%);
}
#button2 {
  color: hsl(184, 100%, 22%);
}
#button3 {
  color: hsl(179, 100%, 13%);
}

/* *************EACH CARD INDIVIDUALLY*********** */
#card1 {
  background-color: hsl(31, 77%, 52%);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#card2 {
  background-color: hsl(184, 100%, 22%);
  color: white;
}
#card3 {
  background-color: hsl(179, 100%, 13%);
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* ****************CREDITS*************** */
.attribution {
  font-size: 12px;
  text-align: center;
  margin-bottom: 9px;
  font-family: "Lexend Deca", sans-serif;
}
.attribution a {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-decoration: none;
}

.attribution #att1 {
  color: hsl(31, 77%, 52%);
}
.attribution #att2 {
  color: hsl(180, 72%, 45%);
}

/* **************RESPONSIVNESS************ */
@media (min-width: 766px) {
  .container {
    display: -webkit-inline-box;
    margin: 10% 3.5%;
    border-radius: 8px;
  }

  .container .card {
    padding: 0% 6% 0px 6%;
    width: 33.3%;
    margin-right: 0;
  }

  .container .card img {
    margin: 36px 0px 26px 0px;
    width: 48px;
  }

  .container .card h1 {
    font-size: 33px;
    margin: 0px 0px 21px 0px;
  }

  .container .card p {
    font-size: 11px;
    line-height: 19px;
  }

  .container .card button {
    border: 1.5px hsl(0, 0%, 95%) solid;
    margin: 58px 2px 30px 2px;
    padding: 10px 21px;
    cursor: pointer;
    border-radius: 136px;
    font-size: 11px;
  }

  /* ***************BUTTON HOVER ANIMATION**************** */
  #button1:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
  }
  #button2:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
  }
  #button3:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
  }

  #card1 {
    background-color: hsl(31, 77%, 52%);
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
  }

  #card2 {
    background-color: hsl(184, 100%, 22%);
    color: white;
  }
  #card3 {
    background-color: hsl(179, 100%, 13%);
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 0px;
    padding-right: 34px;
  }

  .attribution {
    margin-bottom: 1px;
  }
}

/* ***********RESPONSIVNESS FOR WIDTH-992PX*********** */

@media (min-width: 992px) {
  .container {
    display: -webkit-inline-box;
    margin: 8% 21.5%;
    border-radius: 8px;
  }
  #card3 {
    padding-right: 38px;
  }

  .container .card button {
    margin: 58px 2px 31px 0px;
    padding: 9px 21px;
  }

  .container .card h1 {
    font-size: 29px;
  }
}
